body { 
            background-color: #FFA500; 
            text-align: center; 
            font-family: Arial, sans-serif; 
            margin: 0;
            padding: 20px;
        }
        /* Stile del Canvas (Area di gioco) */
        canvas { 
            background-color: #f1f1f1; 
            border: 3px solid #333; 
            box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
        }
        .controls { margin-top: 20px; }
        .middle-row { margin: 10px 0; }
        
        button { 
            padding: 15px 30px; 
            font-size: 16px; 
            font-weight: bold;
            cursor: pointer; 
            border-radius: 8px;
            border: 2px solid #333;
            background-color: white;
        }
        button:active { background-color: #ddd; }
    